body{
    background-color: rgb(148, 135, 148);
}
.container{
    background-color:gray ;
    border-radius: 20px;
    height: 900px;
    margin-top: 150px;
    width:500px;
    margin-left: calc(50% - 250px);
    position:relative
}
.title{
    position: relative;
    left:calc(50% - 100px);
    font-size: 30px;
    top:-30px
}

.content{
   position: absolute;
    background-color:darkgray ;
    width:400px;
    height: 400px;
    top:20px;
    margin-left: calc(50% - 200px);
    border-radius: 20px;

    
}
.text{
    color:lightyellow ;
    font-size: 20px;
}
