*{
    padding:1px;
    margin:0px;
}
body{
    background-color: rgb(148, 135, 148);
    width: 100vw;
    height: 100vh;
    font:20px arial;
}
#header{
    background-color: gray;
    display:grid;
    grid-template-areas:"a1 a2 a3 a6"
                        "a4 a4 a4 a5";
            
    align-items: center;
    height: 100px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 6px;
    
}
.home{
    grid-area: a1;
    margin-left:5px ;
}
.sobre{
    grid-area: a2;
}
.rpg{
    grid-area: a3;
}
.form-control{
    grid-area: a4;
    background-color: aliceblue;
    margin-left: 5px;
}
.search{
    grid-area: a5;
    background-color:darkgray;
    border-radius: 30px;
    width: 35px;
    margin-top: 10px;
}
.donate{
    grid-area: a6;
}

.btn{
    font-size: 20px;
   background-color:cadetblue ;
   border-radius: 5px;
    width: 70px;
    height: 25px;   
}

.form-control{
    height: 24px;
    margin-top: 10px;
    border-radius: 5px;
}
.container{
    display:flex;
    flex-direction: row;
    background-color: gray;
    align-items: center;
    margin-top: 50px;
    border:1px solid yellow;
    border-radius:6px ;
    margin-right:20px;
}
.span{
   text-align:center;
   font-size: 18px;
   
}
.items{
    margin-left: 5px;
    border-radius: 7px;
    width: 150px;
    background-color:darkgrey;
    margin-right: 10vw;
}
.details{
    color:darkgrey;
}
footer{
    background-color:rgb(140, 140, 140) ;
}
.about{
    font-size: 18px;
    padding:20px;
}
.object-name{
    font-size: 30px;
}