*{
    padding:1px;
    margin:4px;
}
body{
    background-color: rgb(148, 135, 148);
}
#header{
    background-color: gray;
    display:grid;
    height: 100px;
    
}
.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border:2px solid yellow;
}
.span{
   text-align:center;
   font-size: 18px;
}
img{
   
    border-radius: 7px;
    background-color:darkgrey;
}
.details{
    color:darkgrey;
}